@import "reactTypescriptVariables";

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $white-color;
    height: $default-header-height;
    background-color: green;
    z-index: 99999;
}

.app-header .menubar {
    width: 100%;
    padding: 6px 40px 0 40px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 100%;
    font-size: 18px;
    font-family: Inter;
    background-color: var(--header-background);
}

.app-header .menubar .header-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-header .menubar .menu-item {
    padding: 12px;
    margin: 4px;
    color: white;
    text-decoration: none;
}

.header-icon {
    font-size: 2rem;
    color: white;
}
