.actuation-view-form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.form-fields-container {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

.actuation-view-form-container-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.actuation-view-form-container-inputs > div {
    width: 100%;
    margin-right: 10px;
}

.actuation-view-back-button {
    margin: 20px !important;
    width: 10% !important;
}

.p-button.p-button-success{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headers{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payload{
    height: 26px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-inputtext.scene-field-form-value
{
    margin-left: 10px;
}

.p-button.small-button{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}