.short-scene-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.p-datatable > div.p-datatable-wrapper > .p-datatable-table tbody {
    cursor: pointer;
}

.short-scene-table {
    display: flex;
    justify-content: center;
}