.short-scene-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.short-scene-table .p-datatable > div.p-datatable-wrapper > .p-datatable-table tbody {
    cursor: pointer;
}

.short-scene-table {
    display: flex;
    justify-content: center;
}

.short-scene-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}


.short-scene-search-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.short-scene-searchBar{
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    height: 50px;
    border-radius: 20px;
}
.short-scene-searchBar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
}