@import "reactTypescriptVariables";

.app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $white-color;
    height: $default-footer-height;
    background-color: green;
    margin-top: auto;
    z-index: 99999;
}
