@import "reactTypescriptVariables";

.react-typescript__loader {
    position: absolute;
    width: 100%;
    height: calc(100% - $default-footer-height);
    transition: opacity 1s ease-out;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 2147483647; // Maximum z-index value

    &.show {
        opacity: 1;
        visibility: visible;
    }

    > div {
        margin: 0 auto;
    }
}

@supports (backdrop-filter: none) {
    .react-typescript__loader {
        backdrop-filter: blur(4px);
    }
}

@supports not (backdrop-filter: none) {
    .react-typescript__loader {
        background-color: rgba(255, 255, 255, 0.8);
    }
}
