.scene-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.scene-view-table {
    display: flex;
    justify-content: center;
}

.iot-img {
    width: 30vw;
    height: auto;
    margin-bottom: 20px
}

.specific-scene-buttons-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.align-left-button {
    display: flex;
    justify-content: flex-start;
    margin: 2% 2%;
}

.edit-button {
    margin-top: 2%;
    margin-right: 2%;
    width: 10vw;
}

.delete-button {
    margin-top: 2%;
    margin-right: -300px;
    background-color: red;
    width: 10vw;
}
.edit-and-delete-scene-btn {
    display: inline;
    justify-items: end;
}