.scene-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.iot-img {
    width: 30vw;
    height: auto;
}

.align-right-button{
    display: flex;
    justify-content: flex-end;
}

.edit-button{
    margin-top: 5%;
    margin-right: 15%;
}