// Colors
$default-color: #252424;
$white-color: rgba(255, 255, 255, 1);
$default-background-color: rgba(242, 242, 242, 1);
$ghostWhite: #ededed;
$ghostGray: #bfc0c0;
$ghostDark: #585959;
$ghostLight: #d3deea;

// Important Heights
$default-footer-height: 24px;

// Font Family
$default-font-family: "Roboto";

// Font Size
$default-font-size: 16px;

// Font Weight
$default-font-weight: 400;

// Line Height
$default-line-height: 16px;
