@import "reactTypescriptVariables";

.not-found-center {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-text {
        & h1 {
            font-family: $default-font-family;
            color: $ghostWhite;
            font-size: 9em;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            text-shadow: -1px 0 $ghostGray, 0 1px $ghostGray, 1px 0 $ghostGray, 0 -1px $ghostGray;
        }

        & h3 {
            font-family: $default-font-family;
            font-size: 2em;
            text-transform: uppercase;
            text-align: center;
            color: $ghostGray;
            margin: 50px;
            margin-top: -20px;
            font-weight: 900;
        }
    }

    &-container {
        margin: 0 auto;
        position: relative;
        width: 250px;
        height: 250px;
        margin-top: -40px;

        &-ghost-copy {
            width: 50%;
            height: 53%;
            left: 25%;
            top: 10%;
            position: absolute;
            border-radius: 50% 50% 0 0;
            background: $ghostWhite;
            border: 1px solid $ghostGray;
            border-bottom: none;
            animation: float 2s ease-out infinite;
            z-index: 0;
        }

        &-ghost {
            width: 50%;
            height: 53%;
            left: 25%;
            top: 10%;
            position: absolute;
            border-radius: 50% 50% 0 0;
            background: $ghostWhite;
            border: 1px solid $ghostGray;
            border-bottom: none;
            animation: float 2s ease-out infinite;
        }
    }

    &-bottom {
        margin-top: 10px;

        & p {
            text-align: center;
            font-family: $default-font-family;
            color: $ghostDark;
            font-size: 0.6em;
            margin-top: -20px;
            text-transform: uppercase;
        }
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
}
.eye,
.eye-right {
    position: absolute;
    background: $ghostDark;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 40%;
}

.eye {
    left: 25%;
}
.eye-right {
    right: 25%;
}

.mouth {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-radius: 50%;
    border-color: transparent $ghostDark $ghostDark transparent;
    transform: rotate(45deg);
}

.one,
.two,
.three,
.four {
    position: absolute;
    background: $ghostWhite;
    top: 85%;
    width: 25%;
    height: 23%;
    border: 1px solid $ghostGray;
    z-index: 0;
}

.one {
    border-radius: 0 0 100% 30%;
    left: -1px;
}

.two {
    left: 23%;
    border-radius: 0 0 50% 50%;
}

.three {
    left: 50%;
    border-radius: 0 0 50% 50%;
}

.four {
    left: 74.5%;
    border-radius: 0 0 30% 100%;
}

.shadow {
    position: absolute;
    width: 30%;
    height: 7%;
    background: $ghostGray;
    left: 35%;
    top: 80%;
    border-radius: 50%;
    animation: scale 2s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes float {
    50% {
        transform: translateY(15px);
    }
}
